<!doctype html>

<html>
<head>
	<title>Welcome to Happy Tank!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/navbar.css" rel="stylesheet">
	<link href="/css/buttons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	


<div class="icon-bar">
  <a href="/home"><i class="fa fa-home"></i></a> 
  <a  href="/text"><i class="fa fa-pencil"></i></a> 
  <a href="/image"><i class="fa fa-camera-retro"></i></a> 
  <a href="/history"><i class="fa fa-history"></i></a>
  <a class="active" href="/about"><i class="fa fa-question"></i></a> 
</div>

</head>

<body bgcolor="lavenda">

	<div class="container" >
		

	<p id="successMsg" style="color:purple";>
		<h2 style="color:purple";>About This App</h2>
		Thank you for using this app. This app can provide you readily accessible happy memories. You can upload text memories, photo memories with captions. Hope you enjoy Happy Tank.
		<hr>
		<h2 style="color:purple";>About Us</h2>
		We are a team learning COGS 120/CSE 170 interaction design. This is our final project. If you have any issues or suggestions, please contact vivianxu1999@gmail.com. Thanks!
	</p>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/writeTextInitialize.js"></script>
	
</body>
</html>


