<!doctype html>

<html>
<head>
	<title>Welcome to Happy Tank!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/home.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	
</head>

<body>
	<div class="container"  style="position:absolute;  top:0px;">

	

	<div class="jumbotron" >
			<h1 id="name" style="color:purple;" >Hello there</h1>
			<h2 id="welcome" style="color:purple;"> Welcome to Happy Tank! </h2>
			<p>Upload &middot; Import &middot; Store your happiest memories</p>
			<div>
			<p class="facebookLogin">Please login through Facebook</p>
			</div>
			<fb:login-button scope="public_profile, email" id="fbLoginButton" onlogin="checkLoginState();">
		    </fb:login-button>
		</div>

		<div id="facebookPhoto" class="profile">
			<h3 id='h3Prompt' style="color:purple;">Log in with your facebook to start fill in your happy jar!</h3>
			<img id="photo" class='img' src="images/happyjar.jpeg"  />
		</div>
<!--
	<div class="btn-container">
		<button type="submit" class="btn btn-default" id='WriteText' >Write Text</button> 
	</div>

	<div class="btn-container">
		<button type="submit" class="btn btn-default" id='uploadPicture' >Upload Picture</button> 
	</div>

	<div class="btn-container">
		<button type="submit" class="btn btn-default" id='SeeHistories' >See Histories</button> 
	</div>
-->

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/homeInitialize.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>

</body>
</html>


