<!doctype html>

<html>
<head>
	<title>Welcome to Happy Tank!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/navbar.css" rel="stylesheet">
	<link href="/css/buttons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	

<div class="icon-bar">
  <a  href="/home1"><i class="fa fa-home"></i></a> 
  <a href="/text1"><i class="fa fa-pencil"></i></a> 
  <a class="active" href="/image1"><i class="fa fa-camera-retro"></i></a> 
  <a href="/history1"><i class="fa fa-history"></i></a>
  <a href="/about1"><i class="fa fa-question"></i></a> 
</div>

</head>

<body>
	<div class="container" id="upload_div">

	<div>
	<form method="post" enctype="multipart/form-data" action="/uploadImage1">
	 <textarea rows="10"  placeholder="How are you feeling today?" name="content" id="content"></textarea>
	 <label class="custom-file-upload">
    	<input type="file" name="file" >
	 </label>
    
    <input type="submit" value="Submit" id="submitBtn" class="myButton" >
	</form>
	</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/uploadImageInitialize1.js"></script>
	
</body>
</html>


